html {
	margin: 0;

	font: 10pt/1.28 "Calluna", serif;
}


@page {	
	/* size: A4; */
	/* U.S. Trade: */
	size: 20.955cm 27.31cm;
	
	margin-top: 2cm;
	margin-bottom: 2.5cm;

	
	-border: 1px solid red;
	
	@footnotes {
		border-top: solid black thin;
		padding-top: 8pt;
	}
}

@page {
	margin-left: 3cm;
	margin-right: 2.3cm;
	
	@top-right {
		font-family: "Calluna";
		text-align: right;
		font-size: 10pt;
		vertical-align: bottom;
		
		margin-bottom: 1.6em;
		padding-bottom: 0.2em;
		border-bottom: thin solid black;
		content: string(header, last);
	}

	@bottom-right {
		font-family: "Calluna";
		content: counter(page);
		padding-top: 2em;
		vertical-align: top;
		text-align: right;
	}
}

@page blank {
  @top-right { content: normal }
  @bottom-right { content: normal }
  @top-left { content: normal }
  @bottom-left { content: normal }
}

@page toc {
	@bottom-right {
		content: counter(page, upper-roman);	
	}
}

.intro, .blank {
	page: blank;
}

.toc {
	page: toc;
	font-family: "Calluna";
}

body {
	margin: 0 0 0 0;
	font-family: "Calluna";
}

title {
	string-set: title content();
}

h1, .pseudo-h1 {
	font-family: "Calluna";
	string-set: header content();
	display: block;
	counter-reset: footnote;
	page-break-before: always;
	font-size: 16pt;
	margin-bottom: 2em;
}

h2, .pseudo-h2 {
	font-family: "Calluna";
	font-size: 14pt;
}

h3 {
	font-family: "Calluna";
	font-size: 11pt;
}

h4 {
	font-family: "Calluna";
	font-size: 10pt;
}

hr {
	page-break-after: always;
	height: 0;
	size: 0;
	border: 0;
}

a { text-decoration: none; color: black }

/* cross-references */
a.pageref::after { content: " auf Seite " target-counter(attr(href), page); }
a.chapref::before { content: " Chapter " target-counter(attr(href), chapter) ", "; }
a.figureref { content: " Abbildung " target-counter(attr(href), figures); }
a.tableref { content: " Tabelle " target-counter(attr(href), tables); }
a.listingref { content: " Listing " target-counter(attr(href), listings); }
a.bibref { content: target-content(attr(href)); }
a[href^="http:"]::after { content: ": " attr(href); }


/* figures */
.figure {
	counter-increment: figures;
	page-break-inside: avoid;
}

.figure > p::before {
	content: "Abbildung " counter(figures) ": "
}

/* footnotes */
.fn {
	display: none;                   /* default rule */
	display: prince-footnote;        /* prince-specific rules */
	position: footnote;
/* 	footnote-style-position: inside; */
	margin-left: 1.4em;
	padding-left: 0.5em;
	text-indent: 0;
	counter-increment: footnote;
	line-height: 1.4;
	text-align: left;
	font-style: normal;
}

cite {
	font-style: normal;
}

cite:before {
	content: '[';
}

cite:after {
	content: ']';
}

q {
	display: block;
	padding: 0 1em;
	margin: 0.2em;
	margin-top: 1em;
}

q::before {
	content: "\201C";
	font-size: 20pt;
	font-family: 'Calluna';
	color: #777;
	margin: 0.2em;
}

q::after {
	content: "\201D";
	font-size: 20pt;
	font-family: 'Calluna';
	color: #777;
	margin: 0.2em;
}

p {
	/* http://tug.ctan.org/tex-archive/fonts/lm/fonts/opentype/public/lm/ */
	font: 11pt/1.28 "Latin Modern Roman", serif;
	font: 11pt/1.5 "Latin Modern Roman", serif;
	display: block;
	margin-bottom: 2em;
	text-align: justify;
	page-break-inside: avoid;
}

p + p {
/*	text-indent: 2em; */
}

ul {
	font: 11pt/1.28 "Latin Modern Roman", serif;
	padding-left: 1em;
}

em, strong {
	font: 11pt/1.28 "Calluna", serif;
}


pre {
	margin: 0.5cm 0.5cm;
	font: 0.7em/1.28 'Monaco';
	letter-spacing: 0.06em;
	border-left: 4px solid #bbb;
	padding-left: 1em;
}

.listing {
	counter-increment: listings;
}

code {
	font: 0.7em/1.28 'Monaco';
	letter-spacing: 0.06em;
}

.listing > p::before {
	content: "Listing " counter(listings) ": "
}

.page-count-start {
	counter-reset: page 1;
}

.page-count-start + h1 {
	page-break-before: avoid;
}

table {
	border-collapse: collapse;
	border: 1pt solid #bbb;
	margin: 0.5cm 0;
	font: 11pt/1.28 "Calluna", serif;
}

td, th {
	border: 1pt solid #bbb;
	padding: 0.1cm 0.2cm;
}

ul {
	margin: 0.2cm 1.4em;
}

/* TOC */
div.toc {
	string-set: header "Contents";
}

ul.toc, ul.toc ul { 
  list-style-type: none; 
  margin: 0; padding: 0;
}
ul.toc ul {
	margin-top: 0.2em;
	margin-left: 1.7em;
	font-weight: normal;
}

ul.toc > li {
	margin-bottom: 0.5em;
}

ul.toc a::after {
	content: leader(' . ') target-counter(attr(href), page);
	font-style: normal;
	font-weight: normal;
}
ul.toc > li.frontmatter a::after {
  content: leader('.') target-counter(attr(href), page, lower-roman);
  font-style: normal;
}
ul.toc > li.endmatter a::after {
  content: leader('.') target-counter(attr(href), page);
  font-style: normal;
}
ul.toc > li.chapter::before {
  content: "Chapter " counter(toc-chapter, decimal);
  display: block;
  margin: 1em 0 0.1em -2.5cm;
  font-weight: normal;
  counter-increment: toc-chapter;
  page-break-after: avoid;
}

/* TOA */
ol.toa, ol.toa ol { 
  list-style-type: none; 
  margin: 0; padding: 0;
}
ol.toa > li {
	margin-bottom: 0.5em;
}
ol.toa a::after {
	content: leader(' . ') target-counter(attr(href), page);
	font-style: normal;
	font-weight: normal;
}


/* bib kram */


.bib dt {
	float: left;
	width: 4.5em;
	padding-right: 1em;
	text-align: left;
}

.bib_author {

	font-family: "Calluna";
	font-variant: small-caps;
}

.bib_author:after {
	content: ": ";
}

.bib a[href^="http:"]::after { content: "" }


.bib dd {
	font-family: "Latin Modern Roman";
	padding-left: 5em;
	page-break-inside: avoid;
}

/* title page */
.intro {
	text-align: center;
}

.intro .title {
	display: block;
	font: 22pt "Latin Modern Roman";
	margin: 0.5em;
	margin-top: 4em;
	margin-bottom: 1em;
	text-align: center;
}

.intro .date {
	text-align: center;
	margin-bottom: 12em;
	display: block;
	font-size: 12pt;
}

.intro > .vcard {
	font-size: 12pt;
	margin: 4em auto;
	width: 17em;
	text-align: left;
	padding-left: 0.5em;
	border-left: 0.2em solid #5c2d91;
}

#fh-title {
	background: url(http://up.frubar.net/1234/fh.svg) no-repeat;
	width: 80px;
	height: 90px;
	position: absolute;
	left: 2em;
	top: 29.5em;
}

#skylime-title {
	background: url(http://up.frubar.net/1394/LimeLogo.svg) no-repeat;
	width: 82px;
	height: 74px;
	position: absolute;
	left: 2em;
	top: 21em;
}

.intro abbr {
	text-decoration: none;
	border: none;
}

h1:before {
  content: counter(chaptercount);
  padding-right: .5em;
}

h1 {
  counter-increment: chaptercount;
  counter-reset: subchaptercount;
}

h2:before {
  content: counter(chaptercount) '.' counter(subchaptercount);
  padding-right: .5em;
}

h2 {
  counter-increment: subchaptercount;
  counter-reset: sub2chaptercount;
}

h3:before {
  content: counter(chaptercount) '.' counter(subchaptercount) '.' counter(sub2chaptercount);
  padding-right: .5em;
}

h3 {
  counter-increment: sub2chaptercount;
  counter-reset: sub3chaptercount;
}

h4:before {
/*  content: counter(chaptercount) '.' counter(subchaptercount) '.' counter(sub2chaptercount) '.'  counter(sub3chaptercount);*/
  padding-right: .5em;
}

h4 {
/*  counter-increment: sub3chaptercount; */
}

/* toc */

/* level 1 */
div.toc > ul.toc > li:before {
 content: counter(tocchaptercounter);
 padding: 0 .5em;
}

div.toc > ul.toc > li {
 counter-increment: tocchaptercounter;
 counter-reset: tocsubchaptercounter;
}

/* level 2 */
div.toc > ul.toc > li > ul.toc > li:before {
 content: counter(tocchaptercounter) '.' counter(tocsubchaptercounter);
 padding: 0 .5em;
}

div.toc > ul.toc > li > ul.toc > li {
 counter-increment: tocsubchaptercounter;
 counter-reset: tocsub2chaptercounter;
}

/* level 3 */
div.toc > ul.toc > li > ul.toc > li > ul.toc > li:before {
 content: counter(tocchaptercounter) '.' counter(tocsubchaptercounter) '.' counter(tocsub2chaptercounter);
 padding: 0 .5em;
}

div.toc > ul.toc > li > ul.toc > li > ul.toc > li {
 counter-increment: tocsub2chaptercounter;
 counter-reset: tocsub3chaptercounter;
}
